/* fonts */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, aside, section, article, header, footer, main, input, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    box-sizing: content-box;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    font: inherit;
    box-sizing: border-box;
}

/* main */
body {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: rgba(31,63,104,.6);
    position: relative;
    min-width: 375px;
}
header {
	background: green;
    position: absolute;
    top: 30px;
    width: 1140px;
    height: 48px;
    left: 50%;
    margin-left: -570px;
}
footer {
    color: #fff;
    background: #316099;
}
section {
    width: 1140px;
    margin: 0 auto;
}

/* header */
header a {
    position: absolute;
    top: 0;
    bottom: 0;
}
.logo {
    left: 0;
    width: 46px;
}
.contacts {
	padding-top: 5px;
    right: 0;
    width: 34px;
}

/* footer */
footer section {
    padding: 64px 0;
}
.f_wrap {
    border-top: 1px solid rgba(255,255,255,.4);
}
footer ul {
    display: flex;
    justify-content: space-between;
}
footer li {
    list-style-type: upper-latin;
    list-style-position: inside;
    flex: none;
    width: 350px;
}
footer li span {
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
}
.copy {
    margin: 64px 0 0;
    opacity: 0.4;
}

/* content */
.m_wrap {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.m_top {
    padding-top: 190px;
    background: url('../images/big_image.png') right 190px no-repeat;
    height: 492px;
}
h1 {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
	color: #1F3F68;
}
.m_top > div {
    width: 425px;
}
.m_top button {
    font-family: 'roboto';
}
#map {
    height: 480px;
    width: 940px;
    margin: 100px auto;
}





.toptext {
	font-weight: 400;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.05em;
	text-align: left;
	margin-top: 32px;
}
.topbutton{
	height: 56px;
	width: 220px;
	border-radius: 10px;
	background: #5A98D0;
	margin-top: 86px;
	color: white;
}
.whatwedotext{
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	line-height: 46px;
	letter-spacing: 0.05em;
	text-align: center;
	color: #000000;
	margin-top: 64px;
}
.whatwedocontainer{
	display: flex;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height: 480px;
	margin-top: 64px;
	justify-content: space-between;
}
.whatwedoelement{
	width: 360px;
	height: 480px;
	margin-top: 0px;
	background: white;
	box-shadow: 5px 20px 50px 0px #1070B133;
}
.whatwedopic1 {
	height: 122px;
	width: 183px;
	background: url('../images/whatwedo1.png') top no-repeat;
	display: block; 
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 44px;
}
.whatwedopic2 {
	height: 122px;
	width: 183px;
	background: url('../images/whatwedo2.png') top no-repeat;
	display: block; 
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 44px;
}
.whatwedopic3 {
	height: 122px;
	width: 183px;
	background: url('../images/whatwedo3.png') top no-repeat;
	display: block; 
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 44px;
}
.whatwedostring1 {
	height: 55px;
	width: 283px;
	border-radius: nullpx;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.05em;
	text-align: left;
	color: #1F3F68;
	margin-top: 52px;
	margin-left: 32px;
}
.whatwedostring2 {
	height: 94px;
	width: 268px;
	border-radius: nullpx;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.05em;
	text-align: left;
	color: #1F3F68;
	opacity: 60%;
	margin-top: 14px;
	margin-left: 32px;
}
.whatwedostring3 {
	display: flex;
	align-items: center;
	height: 27px;
	width: 160px;
	border-radius: nullpx;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.05em;
	text-align: left;
	color: #5A98D0;
	margin-top: 30px;
	margin-left: 32px;
}
.arrowforward {
	display: inline-block;
	height: 23px;
	width: 23px;
	background: url('../images/arrowforward.png') bottom no-repeat;
	margin-left: 20px;
}
.inlineblock{
	display: inline-block;
}
.ofptext1 {
	height: 46px;
	width: 1140px;
	border-radius: nullpx;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	line-height: 46px;
	letter-spacing: 0.05em;
	text-align: center;
	color: #000000;
	margin-top: 64px;
}
.ofptext2 {
	width: 750px;
	height: 52px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #222222;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
}
.ofpcontainer {
	margin-top: 64px;
}
.ofppic1 {
	display: inline-block;
	height: 480px;
	width: 1140px;
	background: url('../images/offpic1.png') bottom no-repeat;
}
.ofppic2 {
	display: inline-block;
	height: 417px;
	width: 554px;
	background: url('../images/offpic2.png') bottom no-repeat;
	margin-top: 32px;
}
.ofppic3 {
	display: inline-block;
	height: 417px;
	width: 554px;
	background: url('../images/offpic3.png') bottom no-repeat;
	margin-top: 32px;
	float: right
}
.offpictext {
	display: inline-block;
	float: right;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: 0.05em;
	text-align: right;
	color: #FFFFFF;
	margin-top: 64px;
	margin-right: 64px;
}
.offpictext2 {
	display: inline-block;
	float: left;
	font-family: Roboto;
	font-size: 28px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: 0.05em;
	text-align: right;
	color: #FFFFFF;
	margin-top: 32px;
	margin-left: 32px;
}
.footertexts {
	display: inline-block;
	margin-top: 27px;
	margin-left: 113px;
	width: 495px;
}
.footertext1 {
	display: inline-block;
	height: 92px;
	width: 340px;
	margin-bottom: 32px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}
.footertext2 {
	display: inline-block;
	width: 495px;
	height: 80px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.6;
}
.footerbutton {
	display: inline-block;
	float: right;
	margin-top: 101px;
	margin-right: 115px;
	width: 237px;
	height: 56px;
	background: #5A98D0;
}
.footerbuttontext {
	width: 76.37px;
	height: 26px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	margin-top: 15px;
	margin-left: 80px;
}


/* adaptivity */
@media screen and (max-width:1199px) { /* экран поменьше */
    header {
        width: 700px;
        margin-left: -350px;
		background: yellow;
    }
    section {
        width: 700px;
    }
    footer section {
        width: 520px;
    }
    footer ul {
        display: block;
    }
    footer li {
        width: 100%;
    }
    footer li span {
        width: auto;
        margin-left: 40px;
    }
    footer li + li {
        margin-top: 20px;
    }
    #map {
        width: 100%;
        max-width: 940px;
        margin: 64px auto;
        height: 392px;
    }
}
@media screen and (max-width:729px) { /* ваще маленький экран жесть */
    header {
        width: auto;
        margin-left: 0;
        left: 16px;
        right: 16px;
        top: 16px;
		background: red;
    }
    section {
        width: auto;
        margin: 0 16px;
    }
    footer section {
        width: auto;
        padding: 32px 0;
    }
    footer ul {
        padding-left: 20px;
    }
    footer li {
        list-style-position: outside;
    }
    footer li span {
        margin-left: 20px;
    }
    #map {
        height: 350px;
        margin: 32px auto;
    }
}
